<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http：//www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <title><%= title + ' - ' + ctx._appConfig.title %></title>
    <link rel="stylesheet" href="/css/login.css">

</head>

<body data-role style="background:#0082c0">
    <%- body %></body>

</html>